.bg-renk-arama {
    background-color: #f3eeee;
}

.bg-kutu1 {
    background-color: #76e4d9;
    width: 36%;
    height: 60px;
    float: left;
    padding: 10px;
    margin-top: 2px;
    margin-right: 2px;
}

.bg-kutu2 {
    background-color: #6ccabf;
    width: 20%;
    height: 80px;
    float: left;
    margin-top: 2px;
    margin-right: 2px;
}

.bg-kutu3 {
    background-color: #52b3a7;
    width: 42%;
    height: 80px;
    float: left;
    margin-top: 2px;
}

.ozel {
    width: 90%;
    margin: auto;
}